@import url("https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100;0,9..40,700;0,9..40,800;0,9..40,1000;1,9..40,200;1,9..40,300;1,9..40,600&family=Hanken+Grotesk:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button,
body,
input {
  font-family: "DM Sans", sans-serif;
  font-family: "Hanken Grotesk", sans-serif;
  font-family: "Poppins", sans-serif;
}

body {
  max-height: 100vh;
  max-width: 100vh;
  overflow: hidden;
}
